{% extends "templates/base.htm" %}
{% block bodycontent %}
    {% if user %}
    <br>
    <br>
    <br>
    <p>Bienvenido, {{ user.email() }}! Cierra tu sesion <a href="{{ logout_url }}">aqui</a>.</p>

   <h2>Borrar cuentas:</h2>
    {% if uploads %}
    <form action="/admin/delete" method="post"> 
    <ul>
        {% for upload in uploads %}
        <li>
            <input type="checkbox" name="delete" value="{{ upload.key() }}" />
            {{ upload.description }}:
            <a href="/view?key={{ upload.key() }}">{{ upload.blob.filename }}</a>
        </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Delete Selected" />
    </form>
    {% else %} {# User has no uploads. #}
    <p>No existe ningun pago.</p>
    {% endif %}

    <h2>Crear un pago:</h2>
    <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">i
      <div class="form-group">
        <label for="emission_date" class="col-sm-2 control-label">Fecha de Emision:</label>
        <div class="col-sm-10">
          <input type="date" name="emission_date" id="emission_date"/><br />
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Nombre:</label>
        <div class="col-sm-10">
          <input type="text" name="name" id="name" /><br />
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Descripcion:</label>
        <div class="col-sm-10">
         <input type="text" name="description" id="description" /><br />
        </div>
      </div>
      <div class="form-group">
        <label for="amount" class="col-sm-2 control-label">Cantidad:</label>
        <div class="col-sm-10">
         <input type="text" name="amount" id="amount" /><br />
        </div>
      </div>
      <div class="form-group">
        <label for="payment_date" class="col-sm-2 control-label">Fecha de Pago:</label>
        <div class="col-sm-10">
         <input type="date" name="payment_date" id="payment_date" /><br />
        </div>
      </div>
      <div class="form-group">
        <label for="upload" class="col-sm-2 control-label">Recibo:</label> <br />
        <input type="file" name="upload" id="upload" multiple="true" /><br />
        <input type="submit" value="Cargar recibo" />
      </div>
    </form>

    <h2>Ingresos:</h2>
    <table class="table">
     <tr>
         <th>ID</th>
         <th>Fecha de Emision</th>
         <th>Nombre</th>
         <th>Descripcion</th>
         <th>Cantidad</th>
         <th>Fecha de Pago</th> 
         <th>Recibo</th> 
     <tr>  
     {% for upload in uploads %}
	 <td>12345</td>
	 <td>{{upload.emission_date}}</td>
	 <td>{{upload.name}}</td>
	 <td>{{upload.description}}</td>
	 <td>{{upload.amount}}</td>
         <td>{{upload.payment_date}}</td>
         <td><a href="/view?key={{ upload.key() }}">{{ upload.blob.filename }}</a></td>
        </li>
     </tr>
     {% endfor %}
     </table>

    </div>

    {% else %} {# User is not signed in. #}
    <div class="container">
      <div class="starter-template">
        <h1>Bienvenidos a ReportEdificio</h1>
        <p class="lead">Por favor
        <a href="{{ login_url }}">inicie su sesion o registrese</a> para actualizar sus pagos.</p>
      </div>
    </div><!-- /.container -->

    {% endif %}
{%endblock %}



